- $nbpk   = [1, 2, 3, 4, 5]
- $putLib = ["Support multi-usages voiture", "Housse support lombaires", "Coussin antibuée auto", "Eponge magique voiture", "Pare-soleil SUNZAPPER®"]
- $putPri = ["9.95 €", "19.95 €", "12.95 €", "4.50 €", "19.95 €"]
- $ref    = ["1705110", "4204012", "3351111", "3801016", "6578017"]
