- $putLib = ["Support multi-usages voiture", "Housse support lombaires", "Coussin antibuée auto", "Eponge magique voiture", "Pare-soleil SUNZAPPER®", "Set casse-noix bambou", "Set de 3 plateaux à paner"]
- $putPri = ["9.95 €", "19.95 €", "12.95 €", "4.50 €", "19.95 €", "29.90 €", "6.99 €"]
- $ref = ["1705110", "4204012", "3351111", "3801016", "6578017", "2205110", "3718319"]
