- $service = { # ...,
  s1: "Les services Temps L :",
  s2: "- la ",
  s3: "garantie satisfaction ",
  s4: ": enchanté ou remboursé ! Vous avez 15 jours pour changer d'avis, nous vous remboursons sans discussion.",
  s5: "- la ",
  s6: "livraison au choix ",
  s7: ": à domicile, en point relais, ou en express, à vous de choisir.",
  s8: "- le ",
  s9: "paiement en ligne sécurisé",
  s10: ": nous vous garantissons la sécurité des données sur notre site. Vous pouvez payer en toute confiance !",
  }
- $contact = { # ...,
  s1: "Merci de ne pas répondre à ce message. Si vous souhaitez nous contacter, cliquez sur : ",
  s2: "Contact",
  }
- $desabo = { # ...,
  s1: "Conformément à la Loi informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et de suppression à l'égard de toute information vous concernant auprès de DOMOTI SAS au capital de 100 000€ RCS LILLE B 342 883 758. Ce doit peut s'exercer par la rubrique contact du site ou par courrier à Temps L, en indiquant vos nom, prénom, adresse et n° client. Si vous ne souhaitez plus recevoir les informations de TempsL cliquez pour vous ",
  s2: "désabonner",
  s3: "Les données du client peuvent être communiquées à un tiers concerné dans le cadre d’un changement de contrôle, de fusion, de cession de fonds de commerce ou d’apport partiel d’actifs de DOMOTI SAS.",
  }
- $domSas = { # ...,
  s1: "DOMOTI SAS, capital de 100 000€ - RCS Lille B 342 883 758",
  }
