/ $date=month+year;campaign
-$date = "0917"
-$campagne = "relance_panier"

-$url = "https://www.tempsl.fr/fr/"
/ lien header miroir "version en ligne"
-$link_header = "https://tempsl.com/Newsletters/miroir/Relance_panier_#{$date}/FR/index.htm"
/ liens produits fin url dyn
-$link = ["0", "#{$url}x/x/x/"]
/ index
-$index    = "index.aspx"
-$panier   = "commande/panier.aspx"
-$reassu   = "achat_confiance/garanties.aspx"
-$lcontact = "tempsl_et_vous/contact.aspx"
-$ldesabo  = "animation/DesinscriptionNewsletter.aspx"

/ tracking google
- $goTk = {###,
  p1: "?utm_source=NL&utm_medium=email&utm_content=",
}
/ "#{$url}#{$index}#{$goTk[:p1]}#{$utmcont[0]}#{$campaign}"
- $campaign = "&utm_campaign=#{$campagne}"
- univers = ["univ_C", "univ_ER", "univ_SB", "univ_MD", "univ_L", "univ_VA", "univ_BA"]
- reassur = ["garantie", "livraison", "paiement", "garantie"]
- $utmcont =["logo", "compte", univers, "btn_retrouver", "visuel", "accroche", "prix", "btn_valider", reassur, "contact", "desabo"]

/ - $utmLegalUrl     = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[6]+$utm[3]+$utmtxt[2]
/ - $utmLegalContact = "?val=A&utm_source=NL&utm_medium=email&utm_content=contact"+$utm[3]+$utmtxt[2]
/ - $utmLegalDesabo  = "?utm_source=NL&utm_medium=email&utm_content=desabo"+$utm[3]+$utmtxt[2]
