/ $date=month+year;campaign
-$date = "0917"
-$campagne = "#{$date}_relancepanier"

-$url = "https://www.tempsl.fr/fr/"
/ lien header "version en ligne"
-$link_header = "https://tempsl.com/NewsLettersID/FR/rpanier_#{$date}/index.html"
/ liens ligne1 pck1-2-3sur3
-$link = ["0", "#{$url}x/x/x/"]
/ lien btn global pck
-$linkGlobalPckBtn = "https://www.tempsl.fr/fr/index.aspx"
/ mentions
-$linkLegalUrl ="https://www.tempsl.fr/fr/index.aspx"
-$lcontact     ="https://www.tempsl.fr/fr/tempsl_et_vous/contact.aspx"
-$ldesabo      ="https://www.tempsl.fr/fr/animation/DesinscriptionNewsletter.aspx"


/ compil var > ne pas modifier (sauf chgmnt radical de tracking)
- $utm    = ["?utm_source=","&utm_medium=","&utm_content=","&utm_campaign="]
- $utmtxt = ["NL","email",$campagne];$utmcont =["pdt","btn","csoa","cmc","btnKdo","BtnGlobPck","url"]
- $utmPdt          = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[0]+$utm[3]+$utmtxt[2]
- $utmBtn          = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[1]+$utm[3]+$utmtxt[2]
- $utmCsa          = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[2]+$utm[3]+$utmtxt[2]
- $utmCmc          = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[3]+$utm[3]+$utmtxt[2]
- $utmBtnKdo       = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[4]+$utm[3]+$utmtxt[2]
- $utmBtnGlobPck   = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[5]+$utm[3]+$utmtxt[2]
- $utmLegalUrl     = $utm[0]+$utmtxt[0]+$utm[1]+$utmtxt[1]+$utm[2]+$utmcont[6]+$utm[3]+$utmtxt[2]
- $utmLegalContact = "?val=A&utm_source=NL&utm_medium=email&utm_content=contact"+$utm[3]+$utmtxt[2]
- $utmLegalDesabo  = "?utm_source=NL&utm_medium=email&utm_content=desabo"+$utm[3]+$utmtxt[2]
