/ title doc + title header + code KDO + txt btn global + mentions
-$title_document = "TEMPSL"
-$header_txt1    = "Il est encore temps de valider votre panier, retrouvez-le en un clic !"
-$header_txt2    = ["Si la page ne s'affiche pas correctement consultez la ","version en ligne"]
