/ - libNoko = doc.at_css("#ctl00_ContentPlaceHolder1_LB_TITRE_PRODUIT").text
ruby:
  require "nokogiri"
  require "open-uri"
  require "net/https"
  url  = "https://www.tempsl.fr/fr/"
  path = "xxx/xxx/xxx/"
  ext  = ".html"
  ref = ["1518216", "1902113", "1615111", "5663216"]
  aryUrl = Array.new
  aryLib = Array.new
  # build full URL
  ref.each {|i|
    aryUrl.push(url+path+i+ext)
  }
  # get full html of URL above then get lib
  aryUrl.each {|i|
    # puts i
    aryLib.push( Nokogiri::HTML(open(i,  :ssl_verify_mode => OpenSSL::SSL::VERIFY_NONE)).at_css("#ctl00_ContentPlaceHolder1_LB_TITRE_PRODUIT").text.encode('iso-8859-1'))
  }
  # hash
  puts aryLib
  $tabLib = aryLib


  # aryUrl.push(url+path+i+ext)  
  # doc = Nokogiri::HTML(open(mon_url,  :ssl_verify_mode => OpenSSL::SSL::VERIFY_NONE))
  # $libNoko = doc.at_css("#ctl00_ContentPlaceHolder1_LB_TITRE_PRODUIT").text
  #puts Nokogiri::HTML(open(aryUrl[0],  :ssl_verify_mode => OpenSSL::SSL::VERIFY_NONE)).at_css("#ctl00_ContentPlaceHolder1_LB_TITRE_PRODUIT").text.encode('iso-8859-1')
/ puts ref[0]
/ .encode('iso-8859-1').encode('utf-8')
/ .encode!('UTF-16', 'UTF-8')
/ - libNoko.encode('iso-8859-1')
/ .to_s.force_encoding('UTF-8')