/  lancer la compile : slimrb -p template-CV.V3.html.slim template-CV.V3.html; html safe => .html_safe
- $srcRel = "images/"
- $srcAbs = "http://webdesignord.fr/domoti/HO/images/"
- $srcAbs = "https://ideeshomme.com/NewsLettersID/FR/Cata_#{$date}/images/"
/ layout numeric
- $tabArray  = [710, 20, 10]
- $pad_ext   = 5; $column = 50; $gutter = 10
- $tab1      = $tabArray[0] + (2 * $pad_ext); $tab2 = $tab1 - (2 * $pad_ext)
- $fullwidth = ($column*12)+($gutter*11)
/ layout txt
- $db = 'display: block;'; $pt = 'padding-top: '; $pr = 'padding-right: '; $pb = 'padding-bottom: '; $pl = 'padding-left: '; $tabborder0 = '0" cellpadding="0" cellspacing="0'
/ color
- $primaryColor     = "#6182C1" # light blue
- $primaryColorDark = "#081623" # dark blue
- $secondaryColor   = "#FF6600" # orange
- $bgcolor          = "#F9F1F1" # light gray