/ title doc + title header + code KDO + txt btn global + mentions
-$title_document = "TEMPSL"
-$header_txt1    = "Bonjour Madame Unnomsuperlong, Vous avez récemment visité notre site<br />et crée votre panier sur www.tempsl.fr."
-$header_txt2    = ["Si la page ne s'affiche pas correctement consultez la ","version en ligne"]
-$code           = "DBWB"
-$giftcode       = "Vos cadeaux du mois avec le code : #{$code}"
/ title pck
-$titlePck_gris = ["Les ","du mois"]
-$titlePck_orange = ["nouveautés ","0"]
/ TXT btn global
-$txtGlobBtn = "Retrouvez tous nos produits "
/ TXT ligne1 pk1-2-3sur3 + pk1-2sur2
/ pk1-2-3sur3
-$l1title_pck1sur3_txt = "Couvre siège billes de bois"
-$l1subti_pck1sur3_txt = "Au volant, les billes de bois vous massent"
-$l1title_pck2sur3_txt = "Lot de 12 variétés de graines de légumes"
-$l1subti_pck2sur3_txt = "Semez, regardez pousser et récoltez !"
-$l1title_pck3sur3_txt = "Amplificateur d'écoute"
-$l1subti_pck3sur3_txt = "Pour entendre mieux !"
/ pk1-2sur2
-$l1title_pck1sur2_txt = "Short en jean Bleu"
-$l1subti_pck1sur2_txt = "Affichez votre tendance Jean"
-$l1title_pck2sur2_txt = "Lot de 2 polos été"
-$l1subti_pck2sur2_txt = "Les polos aux couleurs du printemps !"
-$btntxt = "en savoir";
/ alt KDO
-$alt_gift_csoa_cmc = ["Le Tabouret de loisirs portatif CL Outdoors GRATUIT Avec votre commande *","La Paire de Jumelles SCIENTEC DESIGN 3€ seulement **"]
-$alt_gift_csoa_nocmc = "1_Le SAC de voyage CL outdoors® GRATUIT *, 2_Le TROUSSE de toilette CL outdoors® 1€ seulement **, 3_La VALISE à roulettes CL outdoors® 5.95€ seulement ! Voir vos cadeaux"
-$logo = "iDées HOMME"
/ mentions
-$legal1 = "*Votre cadeau vous est offert gratuitement, en fonction des stocks disponibles. Photos non contractuelles. En cas de rupture de stocks, Idées Homme se réserve le droit de remplacer votre cadeau par un article de valeur équivalente ou supérieure. Si vous ne souhaitez pas commander, vous pouvez envoyer votre demande, par courrier uniquement, à Idées Homme 59685 Roubaix Cedex 2, (6,99€ en carte Bancaire) pour la participation aux frais de mise à disposition.";
-$legal2 = "Les frais de traitements étant les mêmes que pour une commande livrée à domicile. Votre Cadeau vous sera expédié dans un délai de 3 mois maximum, les commandes étant prioritaires. "
-$legal3 = "";
/ -$legal4 = ["<br /> Chaque mois, retrouvez une collection pleine d'astuces et de nouveautés pour votre maison, jardin, mais aussi pour vous et votre bien être. Et parce que votre satisfaction est notre priorité, essayez nos produits sans hésitation, vous êtes enchanté ou remboursé ! A tout de suite sur ",'<a href="'+$linkLegalUrl_+'" target="_blank" style="color:#222222; ">www.ideeshomme.fr</a> !<br /><br />']
/ -$legal5 = ["Merci de ne pas répondre à ce message. Si vous souhaitez contacter Idées Homme, cliquez sur : ",'<a href="'+$linkContact_+'" target="_blank" style="color:#222222; "><strong>Contact</strong></a>.<br />']
/ -$legal6 = "Conformément à la loi informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux informations vous concernant, qui peut s'exercer par la rubrique contact du site ou par courrier à Idées Homme - 59685 Roubaix cedex 2, en indiquant vos nom, prénom, adresse et n° client. <br /><br />"
/ -$legal7 = ["Si vous ne souhaitez plus recevoir les informations d'Idées Homme, cliquez pour vous ",'<a href="'+$linkDesabo_+'" target="_blank" style="color:#222222; ">désabonner</a>.<br />']
/ -$legal8 = "DOMOTI SAS, capital de 100 000€ - RCS Lille B 342 883 758."