.vam { vertical-align: middle; }
.nav {
  @extend .vam;
  line-height: normal; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
  background-color: #F9D5E1;
}
.nav a { color: #FF0066; }
.pdt-8 { padding-top: 8px; }
.pdb-8 { padding-bottom: 8px;}