- $nbpk   = [1, 2, 3, 4, 5]
- $putLib = ["Support multi-usages voiture", "Housse support lombaires", "Coussin antibuée auto", "2 jambières réfrigérantes", "Pare-soleil SUNZAPPER®"]
- $putPri = ["9.95 €", "19.95 €", "12.95 €", "39.00 €", "19.95 €"]
- $ref    = ["1705110", "4204012", "3351111", "2540029", "6578017"]
